.App {
  text-align: center;
}

.count-down-display {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.count-display-green {
  background: #c3d600;
  color: #321052;

}

.count-display-gold {
  background: #fcbc23;

}

.count-display-purple {
  background: #321052;
  color: #c3d600;
}

.count-down-control {
  text-align: center;
  position: fixed;
  bottom: 30px;
  width: 100%;
  z-index: 0;
}

.count-down-input-wrapper {
  text-align: center;
  font-weight: bold;
  position: fixed;
  bottom: 100px;
  width: 100%;
  z-index: 0;
}

.count-down-clock-wrapper {
  text-align: center;
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: 0;
}

.logo-wrapper {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 45%;
}

.logo {
  box-shadow: 0 0 40px 40px white;
  background: white;
}